<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Monitoreo en Tiempo Real</title>
    <link rel="stylesheet" href="./static/style.css">
    <style>#map { height: 80vh; width: 80%; margin: auto; text-align: center;}
        body { background-color: rgb(0, 0, 0);}
    </style>
    <!-- Cargar Leaflet desde CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>

<header>
    <div class="text">
        <p>Monitoreo en Tiempo Real</p>
    </div>
    <nav>
        <ul>
            <li><a href="">Ubicación</a></li>
        </ul>
    </nav>
</header>

<div id="map"></div>

<script>
let sessionId = new URLSearchParams(window.location.search).get('session_id');
let map, marker;

initMap(0, 0);

// Función para inicializar el mapa con las coordenadas de la ubicación
function initMap(lat = 0, lng = 0) {
    map = L.map('map').setView([lat, lng], 15); // Centramos el mapa en las coordenadas iniciales

    // Añadir capa de OpenStreetMap al mapa
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Crear un marcador inicial en el mapa
    marker = L.marker([lat, lng]).addTo(map).bindPopup("Ubicación actual");
}

// Función para actualizar la ubicación cada 5 segundos
async function updatePosition() {
    const res = await fetch(`/ubicacion?session_id=${sessionId}`);
    const data = await res.json();
    if (data && data.lat && data.lng) {
        const latLng = [data.lat, data.lng];
        marker.setLatLng(latLng);  // Actualiza la posición del marcador
        map.setView(latLng, 15);   // Ajusta la vista del mapa a la nueva posición
    }
}



// Actualizar la posición del dispositivo cada 5 segundos
setInterval(updatePosition, 5000);
</script>

</body>
</html>
